<%- include('partials/header') -%>

<main class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Secondhand Market</h1>
                <p class="lead text-muted">For music and other items</p>
                <p>
                    <a href="/login" class="col-3 btn btn-primary"> Login </a>
                    <a href="/signup" class="col-3 btn btn-primary"> Signup </a>
                    <a href="/feed" class="col-3 btn btn-primary"> All Items </a>
                </p>                
            </div>
        </div>        
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">    
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  CD</p>
                                <a href="/feed/CD" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  DVD</p>
                                <a href="/feed/DVD" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  VHS</p>
                                <a href="/feed/VHS" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  Book</p>
                                <a href="/feed/Book" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  Magazine</p>
                                <a href="/feed/Magazine" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">    
                        <div class="card-body">                            
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">Category:  Other</p>
                                <a href="/feed/Other" class="col-3 btn btn-sm btn-outline-secondary"> View</a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>